<nav>
  <ul>
    <li><%= link_to "Hacker News Clone", root_path %></li>
    <li><%= link_to "Submit", new_post_path %></li>
    <% if current_user %>
      <li><%= link_to "Sign out", session_path(current_user), method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign In", new_session_path %></li>
    <% end %>
  </ul>
</nav>